<!-- View is a user interface that the user sees and interacts with.
     Views display data using the model to the user
     and also enables them to modify the data.---->
<!--Razor - the ability to use C# in our Views.  
    We do this with the at symbol.  
    Notice below is a combination of HTML and C#-->


@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
